<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>

        <ion-col class="colHeader"><br><br><br>
          <ion-fab vertical="top" horizontal="left">
            <ion-fab-button [routerLink]="['/main']">
              <ion-icon name="arrow-back-circle-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>


        <ion-title>Calendar</ion-title>

        <ion-col>
          <ion-fab vertical="top" horizontal="end">
            <ion-fab-button [routerLink]="['/register']">
              <ion-icon name="document"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card>
        <img id="calendarImages" src="../assets/img/imagenesCalendario/completo.jpg" />
      </ion-card>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <img class="calendarImages" src="../assets/img/imagenesCalendario/Enero.jpg" />
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img class="calendarImages" src="../assets/img/imagenesCalendario/Febrero.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <img class="calendarImages" src="../assets/img/imagenesCalendario/Marzo.jpg" />
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img class="calendarImages" src="../assets/img/imagenesCalendario/Abril.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <img class="calendarImages" src="../assets/img/imagenesCalendario/Mayo.jpg" />
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card>
          <img class="calendarImages" src="../assets/img/imagenesCalendario/Junio.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <img class="calendarImages" src="../assets/img/imagenesCalendario/Julio.jpg" />
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img class="calendarImages" src="../assets/img/imagenesCalendario/Agosto.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <img class="calendarImages" src="../assets/img/imagenesCalendario/Septimbre.jpg" />
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img class="calendarImages" src="../assets/img/imagenesCalendario/Octubre.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <img class="calendarImages" src="../assets/img/imagenesCalendario/Noviembre.jpg" />
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <img class="calendarImages" src="../assets/img/imagenesCalendario/Diciembre.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>



<ion-footer>
  <ion-toolbar>
    <ion-title>©Todos los derechos reservados
      <br>
      21640010-Josue
      <br>
      21640004-Pedro
    </ion-title>
  </ion-toolbar>
</ion-footer>