/* styles.scss */

ion-header, ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .logo {
    max-width: 100%;
  }
  
  ion-grid {
    width: 100%;
  }
  
  ion-row {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  ion-col {
    display: flex;
    justify-content: center;
  }
  
  ion-button {
    margin: 0 10px;
  }
  
  ion-icon {
    font-size: 2em;
    margin: 0 10px;
  }
  