<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="logo-container" slot="start">
      <img src="../assets/img/logo_transparent.png" class="logo" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>Welcom!</ion-row>
    <ion-row>This app is a school calendar</ion-row>
    <ion-row>
      <ion-col><ion-button>Login</ion-button></ion-col>
      <ion-col><ion-button>Sing Up</ion-button></ion-col>
    </ion-row>
    <ion-row>Or via social media</ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
