<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="logo">
      <img src="../assets/img/logo_transparent.png">
    </div>

    <ion-grid>
      <ion-row>
        
        <ion-col> <a [routerLink]="['/v-email']">Ir al login</a> </ion-col>
        <ion-col> <a [routerLink]="['/ejer']">Ir al ejercicios</a> </ion-col>
        <ion-col> <a [routerLink]="['/calender']">Ir al calendario</a> </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>

  </ion-content>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>©Todos los derechos reservados
      <br>
      21640010-Josue
      <br>
      21640004-Pedro
    </ion-title>
  </ion-toolbar>
</ion-footer>