/* Clase para centrar elementos flexibles */
.flex-center {
  display: flex;
  /* Utiliza flexbox */
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  height: 100%;
  /* Ocupa toda la altura del contenedor padre */
}

/* Aplica la fuente Roboto a todos los elementos */
* {
  font-family: Roboto;
}

/* Estilos para el contenedor del logo */
.logo {
  text-align: center;
  /* Centra el texto horizontalmente */
  align-items: center;
  /* Centra los elementos hijos verticalmente */
}

/* Estilos para la imagen del logo */
.logo img {
  height: 120px;
  /* Altura de la imagen del logo */
  width: 120px;
  /* Ancho de la imagen del logo */
}

/* Estilos para el componente ion-fab (botón flotante) */
ion-fab {
  margin-top: var(--ion-safe-area-top, 0);
  /* Margen superior, evita que el botón flotante se superponga con el área segura en la parte superior */
}

ion-fab {
  margin-bottom: var(--ion-safe-area-bottom, 0);
  /* Margen inferior, evita que el botón flotante se superponga con el área segura en la parte inferior */
}

ion-fab {
  margin-top: var(--ion-safe-area-top, 0);
}

ion-fab {
  margin-bottom: var(--ion-safe-area-bottom, 0);
}