<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>vPassword</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!--<ion-title size="large">Login</ion-title>-->
    </ion-toolbar>
  </ion-header>
  <ion-footer>
    <div class="centered-content">
      <img src="../assets/img/logo_transparent.png" alt="logo" class="logo">
    </div>
  </ion-footer>
  <ion-content>
    <div class="centered-content">
      <ion-input type="password" placeholder="Enter your Password" required [(ngModel)]="password"></ion-input>
      <ion-button [routerLink]="['/main']" [disabled]="!validarPassword()">After</ion-button>
      <label><a href="register">Forgot Password</a></label>
    </div>
  </ion-content>
  
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-title>©Todos los derechos reservados
      <br>
      21640010-Josue
      <br>
      21640004-Pedro
    </ion-title>
  </ion-toolbar>
</ion-footer>