<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Calender</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment>
    <ion-segment-button value="Schedule">Schedule</ion-segment-button>
    <ion-segment-button value="Tasks">Tasks</ion-segment-button>
    <ion-segment-button value="Notes">Notes</ion-segment-button>
  </ion-segment>
  <ion-datetime presentation="date" value="20-24-01-01" [highlightedDates]="highlightedDates"></ion-datetime>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>©Todos los derechos reservados
      <br>
      21640010-Josue
      <br>
      21640004-Pedro
    </ion-title>
  </ion-toolbar>
</ion-footer>